.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.grid {
  height: 100%;
  width: 100%;

  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__row {
    display: grid;
    column-gap: 5px;
    margin-bottom: 5px;
    grid-auto-flow: column;
  }
}

.controls {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  align-self: end;

  @media only screen and (max-width: 599px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  &__group {
    display: flex;

    @media only screen and (max-width: 599px) {
      flex-direction: column;
    }
  }
  &__group:last-child {
    grid-column: 1 / span 2;
  }
}

.select {
  height: 40px;
  width: 120px;
  margin: 10px;
}
